
.container {
    padding-block-start: 0px;
    margin-block-start: 0;
    flex-grow: 0;
    min-block-size: 90vh;
}

.card-transparent {
    border: 0;
    background: transparent;
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    position: relative;
    transition: transform 0.3s ease;
}

.card-img-top {
    block-size: 200px;
    inline-size: 400px;
    object-fit: cover;
    border-radius: 0;
    transition: transform 0.3s ease;
}

.card-img-overlay {
    position: absolute;
    inset-block-end: 0;
    inset-inline-end: 0;
    margin: 0px;
    justify-content: center;
    inline-size: calc(100% - 10px);
}

.card-title-overlay {
    color: white;
    padding: 0.5rem;
    border-radius: 0.25rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.686);
    
}

.card-transparent:hover .card-img-top {
    transform: scale(1.05);
}

.search-input {
    margin-block-start: 0;
    inline-size: 400px;
}

.row {
    margin-block-start: 0;
}

.col-md-4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}



.form-head-one {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 50px;
    color: #A69003;
}

.back-arrow-two {
    display: flex;
    align-items: center;
    margin-inline-end: 30px;
}

.back-arrow-one {
    cursor: pointer;
    font-size: 2rem;
}
.search-container-one {
    display: flex;
    justify-content: center;
    margin-block-start: 50px;
}








.custom-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    animation: fadeInUp 1s ease-in-out;
}

.custom-col {
    flex: 0 0 20%;
    max-inline-size: 20%;
    box-sizing: border-box;
    
}

.custom-card {
    background-color: #d7d5d5;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    padding: 1rem;
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
}
.custom-card:hover {
    background-color: #bebebe;
    
}

.custom-card-img-top {
    inline-size: 200px;
    block-size: 200px;
    object-fit: cover;
    background-color: #e9ecef;
    border-radius: 15px;
}

.custom-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block-start: 1rem;
    font-family: 'Inria Sans', sans-serif;
}

.custom-card-title {
    font-size: 1.25rem;
    margin-block-end: 0.75rem;
    font-weight: bold;
}

.custom-card-text {
    margin-block-end: 0.75rem;
}

.custom-quantity-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block-end: 0.5rem;
}

.custom-btn {
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    border-radius: 4px;
}

.custom-btn-outline-secondary {
    background-color: transparent;
    border-color: #6c757d;
}

.custom-mx-2 {
    margin: 0 0.5rem;
}

.custom-mt-2 {
    margin-block-start: 0.5rem;
}

.custom-btn-primary {
    background-color: #A69003;
    border-color: #A69003;
    color: white;
}
.custom-quantity-controls {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: transparent;
}


.custom-quantity-controls i {
    font-size: 1.5rem;
}

.custom-quantity-controls i:hover {
    color: rgb(61, 61, 61);
}
.custom-favorite-icon i {
    transition: color 0.3s ease;
    font-size: 1.25rem;
    color: red;
}

.custom-favorite-icon i.bi-heart-fill {
    color: red;
}

.no-products-message {
    text-align: center;
    margin-block-start: 50px;
    font-size: 1.25rem;
    color: #6c757d;
}



.custom-toast-container {
    position: fixed;
    inset-block-start: 200px;
    inset-inline-start: 50%;
    transform: translateX(-50%);
    z-index: 1050;
  }
  