.form-select-wrapper select {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: 'Inria Sans', sans-serif;
}

.form-select-wrapper::after {
    font-family: 'Inria Sans', sans-serif;
    color: white;
    padding: 0 10px;
    pointer-events: none;
    position: absolute;
    inset-block-start: 50%;
    inset-inline-end: 10px;
    transform: translateY(-50%);
}

.form-select-wrapper {
    position: relative;
}
.form-select-wrapper select option {
    background-color: #3d3d3d;
    color: rgb(255, 255, 255);
    border: none;
}
.form-select-wrapper select:focus {
    background-color: transparent;
    box-shadow: none;
    border-color: #A69003;
    color: white;
}

.form-select-wrapper select::placeholder {
    color: rgb(80, 79, 79);
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-block-size: 75vh;
    background-color: transparent;
    padding: 0px;
    color: white;
    margin-block-start: 50px;
    animation: fadeInUp 2s ease-in-out;
}





.input-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-control {
    inline-size: 100%;
    box-sizing: border-box;
}

.password-wrapper {
    position: relative;
}

.eye-icon {
    position:absolute;
    inset-block-start: 50%;
    inset-inline-end: 30px;
    transform: translateY(-50%);
    cursor: pointer;
    color: white;
    font-size: 1.25rem;
    z-index: 1;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.forget-password-link-main{
    text-align: end;
}

.text-center {
    text-align: center;
}
.forget-password-link {
    color: #A69003;
    text-decoration: none;
    text-align: end;
}

.forget-password-link:hover {
    opacity: 0.5;
    transform: scale(2.2);
}

.back-arrow {
    cursor: pointer;
    margin-inline-end: 10px;
    text-align: start;
    color: #A69003;
}

.back-arrow:hover {
    color: white;
}


.sub-head {
    font-size: 1.2rem;
    margin-block-end: 20px;
    color: #ffffff;
    text-align: center;
    margin-block-end: 100px;
}

.email-container {
    display: flex;
    justify-content: center;
    align-items: center;
    block-size: 100vh;
}

.countdown-container {
    margin-top: 20px;
    text-align: center;
}

/* Countdown timer styles */
.countdown {
    font-size: 16px;
    color: red;
    font-weight:normal;
}




.gallery-container {
    display: flex;
    padding: 15px;
    position: relative;
    text-align: center;
    margin-top: 5px;
}


.gallery-content {
    flex: 1;
    padding: 15px;
    background-color: transparent;
    position: relative;
    z-index: 1;
}


.gallery-sidebar {
    background-color: transparent;
    inline-size: 250px;
    padding: 15px;
    box-sizing: border-box;
    font-family: 'Inria Sans', sans-serif;
    color: white;
    inset-block-start: 0;
    inset-inline-start: 0;
    block-size: 100vh;
    overflow-y: auto;
    animation: fadeInUp 2s ease-in-out;
}


.gallery-sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: white;
}

.gallery-sidebar li {
    margin: 0;
}

.gallery-sidebar a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 20px 25px;
    border-radius: 4px;
}

.gallery-sidebar a:hover {
    color: #A69003;
    opacity: 0.8;
    transform: scale(1.1);
}


.gallery-sidebar a.active {
    color: #A69003;
    background-color: #333;
    opacity: 0.8;
    transform: scale(1.1);
}


.gallery-images {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-inline-start: 50px;
    padding: 15px;
}

.gallery-item {
    box-sizing: border-box;
    overflow: hidden;
    inline-size: 350px;
    block-size: 250px;
    padding: 20px;
    animation: fadeInUp 2s ease-in-out;
}

.gallery-item img {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    display: block;
    border-radius: 8px;
}

.no-images-message {
    font-size: 1.5rem;
    color: #A69003;
    text-align: center;
    margin-block-start: 50px;
}


@media (max-width: 1200px) {
    .gallery-images {
        margin-inline-start: 210px;
    }
}

@media (max-width: 768px) {
    .gallery-images {
        margin-inline-start: 0;
    }

    .gallery-item {
        inline-size: 100%;
        block-size: auto;
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}










.about-abc-container {
    padding: 20px;
    margin: auto;
    max-inline-size: 1300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    animation: fadeInUp 2s ease-in-out;
}

.about-abc-heading {
    font-size: 2.5rem;
    margin-block-end: 50px;
    color: #A69003;
    align-self: flex-start;
}

.about-abc-content-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    inline-size: 100%;
}

.about-abc-content {
    flex: 1;
    margin-inline-end: 20px;
    padding: 0px;
    color: white;
    line-height: 33px;
}

.about-abc-image {
    flex: 0 0 400px;
    padding: 10px;
}

.about-abc-image img {
    inline-size: 100%;
    block-size: auto;
    border-radius: 8px;
    object-fit: cover;
}







.card-container {
    display: flex;
    gap: 20px;
    margin-block-start: 30px;
    inline-size: 100%;
    justify-content: center;
    overflow-x: auto;
    margin-block-end:70px ;
}

.card {
    inline-size: 18rem;
    block-size: 20rem;
    color: white;
    text-align: center;
    border: none;
    background-color: #A69003;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    animation: fadeInUp 2s ease-in-out;
}

.card-icon {
    font-size: 4rem;
    margin-block-end: 10px;
}

.card-text {
    margin-block-start: 10px;
    font-size: 1.2rem;
}
.card:hover {
        transform: scale(1.1);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}










.contact-container {
    padding: 20px;
    animation: fadeInUp 2s ease-in-out;
}

.contact-sections {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;
}

.contact-section {
    flex: 1;
    min-inline-size: 250px;
    padding: 15px;
    margin: 15px;
    background-color: transparent;
    border-radius: 8px;
    text-align: center;
    font-family: 'Inria Sans', sans-serif;
    color: white;
}

.section-heading {
    font-size: 1.5rem;
    margin-block-end: 40px;
    color: #A69003;
}
.contact-info{
    margin-block-end: 15px;
    text-align: center;
    justify-self: center;
}
.contact-icon {
    font-size: 1.5rem;
    margin-inline-end: 10px;
    color: white;
}




.form-head {
    text-align: center;
    color: white;
    margin-block-end: 40px;
}

.btn-primary-submit {
    background-color: #A69003;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.btn-primary-submit:hover {
    background-color: #8c6d02;
}

.form-control {
    border-radius: 0;
    border: 2px solid white;
    color: white;
    background-color: transparent;
}

.form-control:focus {
    border-color: #A69003;
    box-shadow: none;
}

.invalid-feedback {
    display: block;
    color: red;
}
.col-form-label {
    white-space: nowrap;
}