@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&display=swap');

.navbar-brand-text {
    font-size: 35px;
    font-weight: bold;
    color: #ffffff;
    font-family: 'Inria Sans', sans-serif;
}

.navbar-nav {
    margin-inline-end: 120px;
}

.navbar-nav .nav-item {
    margin: 0 5px;
}

.navbar-collapse {
    display: flex;
    justify-content: center;
}

.profile-container {
    display: flex;
    align-items:end;
    font-family: 'Inria Sans', sans-serif;
}

.profile-pic {
    inline-size: 70px;
    block-size: 70px;
    border-radius: 50%;
}

.profile-info {
    padding-inline-start: 20px;
    padding-inline-end: 20px;
}

.username {
    font-weight: bold;
    color: white ;
    font-size: 18px;
}

.email {
    color: #A69003 ;
    font-size: 14px;
}




#dropdownMenuButton {
    background-color: transparent !important;
    border: none !important;
}

#dropdownMenuButton i.bi-gear {
    font-size: 1.5rem;
}
#dropdownMenuButton i.bi-gear:hover {
    color: #A69003;
}

#dropdownMenuButton {
    inline-size: auto;
    block-size: auto;
}
#dropdownMenuButton:hover {
    color: #A69003;
}
.dropdown-menu {
    inset-inline-end: 10px;
    inset-inline-start: 30px;
    transform: translateX(-70%);
    background-color:rgb(56, 56, 56);
    color: white;
    border-radius:0 ;
}

.dropdown-item{
    color: white;
    text-align: center;
    padding: 10px;
    
}
.dropdown-item:hover{
    color: #A69003;
    background-color: transparent;
}

